body{
  font-family: helvetica;
  margin: 0;
}

.header{
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 20px auto;

}
.titulo-principal{
   font-size: 38px;
   line-height: 56px;
   color: white;
   text-align: center;
   transition: .2s;
}
.titulo-principal:hover{
  color: #a2dffc;
}
.figure a{
     text-decoration: none;
}
.logo{
  display: inline-block;
  margin: 0;
  transition: .5s;

}
.menu{
  display: inline-block;
  position: absolute;
  right: 15%;
  transition: .5s;

}
.menu ol{
  padding: 0;
}
.menu li{
  display: inline-block;
  font-size: 25px;
  padding: 5px 20px;
  margin: 0 10px;
  transition: .3s;
  border-radius: 15px;
}
.menu li:hover{

  background: #051144;
}
.menu a{
  text-decoration: none;
  color: black;
  transition: .4s;

}
.menu a:hover{
  color: white;

}
.contenedor-p{
  background: #e6ebec;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}
.fondo{
  background: #032a45;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
  box-shadow: 10px -10px 20px 5px #01101b;
  border-radius: 15px;
}

 .portada-tech{
  width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: 15px solid #bfbebe;
}
.figure img{
  height: 400px;
  width: 900px;
}
